<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <appSettings>
    <add key="ida:AADInstance" value="https://login.microsoftonline.com"/>          <!-- Service root URL for ADAL authentication service -->
    <add key="ida:GraphResourceId" value="https://graph.windows.net"/>              <!-- Service root URL for Graph API service -->

    <!-- VALUES to be changed for your tenant and app -->
    <add key="ida:Domain" value="MyTenant.onMicrosoft.com"/>                        <!-- DNS name for your AAD tenant -->
    <add key="ida:ClientId" value="aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee"/>          <!-- GUID for your AAD application -->
    <add key="ida:AppKey" value="abcd1234abcd1234abcd1234abcd1234abcd1234abcd"/>    <!-- Secret key for your AAD application -->

  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages validateRequest="false" />
  </system.web>

</configuration>
